# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Dependency directories
/frontend/node_modules
/server/node_modules

# Build output
/frontend/dist/
/frontend/public/build/
/server/build/

# IDEs y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema operativo
.DS_Store
Thumbs.db

# Otros archivos
package-lock.json
yarn.lock

